<!-- Core styles (required for all pages) -->
<link rel="stylesheet" href="{{ '/assets/css/variables.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/buttons.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/cards.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/layouts.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/utilities.css' | relative_url }}">
