<header class="site-header">
    <div class="container">
        <div class="header-content">
            <a href="/{{ page.lang }}/" class="site-logo">
                <span class="logo-text">{{ site.title }}</span>
            </a>
            
            <nav class="main-nav">
                <a href="/{{ page.lang }}/">{{ page.common.nav_home }}</a>
                <a href="/{{ page.lang }}/games/">{{ page.common.nav_games }}</a>
                <a href="/{{ page.lang }}/products/">{{ page.common.nav_products }}</a>
                <a href="/{{ page.lang }}/blog/">{{ page.common.nav_blog }}</a>
                <a href="/{{ page.lang }}/about/">{{ page.common.nav_about }}</a>
            </nav>
            
            {% include language-switcher.html %}
        </div>
    </div>
</header>
